.header {
  background-color: $light-grey;
  padding: 1rem;
  height: 10rem;
  display: flex;
  align-items: center;

  &__logo-box {
    display: flex;
    align-items: center;

    span {
      font-size: 3rem;
    }
  }

  &__logo {
    height: 5rem;
    margin: 0 1rem;
  }
}
