html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-size: 1.6rem;
  max-width: 140rem;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 2rem 5rem;
  height: calc(100% - $header-height);
}
