// COLORS
// primary
$primary-main: #3492FF;
$primary-light: #5ca7ff;
$primary-dark: #2466b2;
// greys
$light-grey: #EEEEEE;
$medium-grey: #E0E0E0;
$dark-grey: #BDBDBD;
// common
$white: #ffffff;
$black: #272727;

// BORDER RADIUS
$border-radius: 4px;

// SPACING
$header-height: 10rem;

